{% extends 'layout.html' %}

{% block body %}
<form role="form" method='POST' action='/input'>
  <div class="form-group">
    <input type="text" name="category" class="form-control" id="text-box" placeholder="Enter category" style="max-width: 300px;" autofocus required>
    <input type="text" name="romanian" class="form-control" id="text-box" placeholder="Enter Romanian word" style="max-width: 300px;" required>
    <input type="text" name="english" class="form-control" id="text-box" placeholder="Enter English word" style="max-width: 300px;" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
{% endblock %}
